# Experiment No. 5
## Name: Anik Jain
##PRN: 25070123178
##Batch: A-3
## Title: To study Sets and Dictionaries in Python

In [ ]:
# Creation of Set
thisset = {"India", "China", "Russia"}
print(thisset)

{'Russia', 'China', 'India'}

In [ ]:
# Duplication of Set
thisset = {"India", "China", "Russia", "India"}
print(thisset)

{'Russia', 'China', 'India'}

In [ ]:
#Dupliactes not allowed
thisset = {"India", "China", "Russia"}
print("China" in thisset)

True

In [ ]:
# The values True and 1 are considered the same value in the sets, qand are treated as duplicates:
thisset = {"India", "China", "Russia", True, 1, 2}
print(thisset)

{True, 2, 'Russia', 'China', 'India'}

In [ ]:
# A set with strings, integers and boolean values :
set1 = {"India", "China", 2021}
print(set1)

{2021, 'China', 'India'}

In [ ]:
# To check membership
thisset = {"India", "China", "Russia"}
print("India" in thisset)
print("Brazil" in thisset)

True
False

In [ ]:
# Once a set is created, you cannot replace its items
# but you can add new items
thisset = {"India", "China", "Russia"}
thisset.add("Brazil")
thisset.remove("China")
print(thisset)

{'Brazil', 'Russia', 'India'}

In [ ]:
# Set Operations
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

print("Union :", A | B)
print("Intersection :", A & B)
print("Difference :", A - B)
print("Symmetric Difference :", A ^ B)

Union : {1, 2, 3, 4, 5, 6, 7, 8}
Intersection : {4, 5}
Difference : {1, 2, 3}
Symmetric Difference : {1, 2, 3, 6, 7, 8}

# Python Frozenset

In [ ]:
# frozenset
x = frozenset({"India", "China", "Russia"})
print(x)
print(type(x))

frozenset({'Russia', 'China', 'India'})
<class 'frozenset'>

In [ ]:
# frozenset
x = frozenset({"India", "China", "Russia"})
print(x)
print(type(x))

frozenset ({"India", "China", "Russia"})
<class 'frozenset'>

In [ ]:
# Adding or Removal of elements are not allowed in Frozenset
x=frozenset({"India", "China", "Russia"})
x.add("Brazil")
x.remove("China")
print(x)

AttributeError: 'frozenset' object has no attribute 'add'

In [ ]:
'''Problem Statement 1: Unique Event Participants
A college event has a list of students who registered multiple times by mistake.
Write a program using set to store participant Names and display only unique participants.'''
students = ("Rohan" , "Rahul" , "Arjun" , "Ramesh" , "Rahul" , "Rohan" , "Arjun")
print(set(students))

{'Ramesh', 'Rahul', 'Arjun', 'Rohan'}

In [ ]:
'''Problem Statement 2: Three students choose elective subjects.
Find the common subjects chosen by all students using set operations.
Concept Used: Set intersection (&)'''

In [ ]:
Ram_electives = {"Math", "Physics", "Chemistry", "Biology"}
Rahul_electives = {"Physics", "Computer Science", "Math", "English"}
Rohan_electives = {"Math", "Biology", "Computer Science", "Physics"}

common_electives =Ram_electives & Rahul_electives & Rohan_electives

print("Subjects chosen by Ram:", Ram_electives)
print("Subjects chosen by Rahul:", Rahul_electives)
print("Subjects chosen by Rohan:", Rohan_electives)
print("\nCommon subjects chosen by all students:", common_electives)

Subjects chosen by Ram: {'Physics', 'Chemistry', 'Biology', 'Math'}
Subjects chosen by Rahul: {'Physics', 'Computer Science', 'English', 'Math'}
Subjects chosen by Rohan: {'Physics', 'Computer Science', 'Biology', 'Math'}

Common subjects chosen by all students: {'Physics', 'Math'}

In [ ]:
'''Problem Statement 3: One set contains students in the IEEE club, another in Quantum club.
Find students who are:1. In both clubs 2. In only one club
Concept used: Intersection, Difference'''
IEEE club = {"Alex" , "Joseph" , "John" , "Thomas" }
Quantum club = {"Tony" , "Calvin" , "Donald" , "Joseph" , "Alex" }
print("Students in both clubs:" , IEEE club & Quantum club)

Students in both clubs: {'Joseph', 'Alex'}
Students in only club: {'John', 'Calvin', 'Thomas', 'Donald', 'Tony'}

In [ ]:
'''Problem Statement 4: Absent Students
Given a set of all students and a set of present students
Find the absent students.
Concept used: Difference'''
all_students = {"Alex" , "Joseph" , "John" , "Thomas" , "Tony" , "Calvin" , "Donald"}
present_students = {"Alex" , "Joseph" , "John" , "Thomas"}
absent_students = all_students - present_students
print("Absent students:", absent_students)

Absent students: {'Tony', 'Calvin', 'Donald'}

In [ ]:
'''Problem Statement 5: Remove Invalid Entries.
A set contains valid course codes.
Remove discontinued course codes from the set.
Concept Used: remove() / discard()'''
course_codes = {"CS101", "CS102", "CS103", "CS104", "CS105"}
print("Current course codes:", course_codes)
course_codes.remove("CS104")
print("Updated course codes:", course_codes)

Current course codes: {'CS102', 'CS101', 'CS103', 'CS104', 'CS105'}
Updated course codes: {'CS102', 'CS101', 'CS103', 'CS105'}

In [ ]:
# Creating a dictionary
cities = {"India": "New Delhi", "China": "Beijing", "Russia": "Moscow"}
print(cities)

{'India': 'New Delhi', 'China': 'Beijing', 'Russia': 'Moscow'}

In [ ]:
# Dictionary takes latest value given for the key. It will not allow duplicates
cities = {"India": "Mumbai", "China": "Beijing", "Russia": "Moscow", "India": "New Delhi"}
print(cities)

{'India': 'New Delhi', 'China': 'Beijing', 'Russia': 'Moscow'}

In [ ]:
# Finding the number of members & type in a dictionary
cities = {"India": "New Delhi", "China": "Beijing", "Russia": "Moscow"}
print(len(cities))
print(type(cities))

3
<class 'dict'>

In [ ]:
# Changing/Adding key: value in a dictionary
cities = {"India": "New Delhi", "China": "Beijing", "Russia": "Moscow"}
x = cities.values()
print(x) #berfore the change
cities["China"] = "Shanghai"
print(x) #after the change

dict_values(['New Delhi', 'Beijing', 'Moscow'])
dict_values(['New Delhi', 'Shanghai', 'Moscow'])

In [ ]:
student = {
    "Name" : "Anik Jain",
    "PRN" : "25070123178",
    "Branch" : "ENTC",
    "Batch" : "A-3",
    "Year" : "2025-2029",
}
print("Name:" , student["Name"])
print("PRN:" , student["PRN"])
print("Batch:" , student["Batch"])
print("Year:" , student["Year"])

Name: Anik Jain
PRN: 25070123178
Batch: A-3
Year: 2025-2029

In [ ]:
# Adding and Updating Elements
student["Branch"] = "ENTC"
student["Name"] = "Anik"
student["PRN"] = "25070123178"
print(student)

{'Name': 'Anik', 'PRN': '25070123178', 'Branch': 'ENTC', 'Batch': 'A-3', 'Year': '2025-2029'}

In [ ]:
# Removing Elements
student.pop("Batch")
print("After Removal:" , student)

After Removal: {'Name': 'Anik', 'PRN': '25070123178', 'Branch': 'ENTC', 'Year': '2025-2029'}

In [ ]:
'''1. A dictionary stores product names and their prices. Write a Python program to update the price of a given product.'''
product = {"Chips": 60, "Biscuit": 20}
print("Initial Products:", product)
product["Chips"] = 50
print("Updated Products:", product)

Initial Products: {'Chips': 60, 'Biscuit': 20}
Updated Products: {'Chips': 50, 'Biscuit': 20}

In [ ]:
'''2.A dictionary stores students name and marks.
Write a python program to search for a student's marks using the name and marks.
If the student is not found, display a suitable message.'''

marks = {"Arnav": 80, "Aryan": 85, "Rahul": 90}
name = input("Enter student name: ")
print(marks.get(name, "Student not found"))

Enter student name: Rahul
90

In [ ]:
'''3.A dictionary stores usernames and passwords.
Write a Python program to validate user login.'''

users = {"admin": 'user@123'}
user_name = input("Enter username: ")
password = input("Enter password: ")
if users.get(user_name) == password:
    print("Login successful")
else:
    print("Invalid username or password")

Enter username: admin
Enter password: user@123
Login successful

In [ ]:
'''4.A dictionary stores student names and marks.
Write a Python program to find the student who scored the highest marks.'''

marks = {"Arnav": 80, "Aryan": 85, "Rahul": 90}
topper = max(marks, key=marks.get)
print("Topper:", topper)
print("Marks:", marks [topper])