# Experiment No. 7
## Name: Anik Jain
## PRN: 25070123178
## Batch: A-3
## Title: To study Loops in Python

In [ ]:
# Print i as long as i is less than 6

i = 1
while i <= 5:
  print(i)
  i += 1

1
2
3
4
5

In [34]:
# Print numbers from 1 to N

n = int(input("Enter a number: "))
for i in range(1, n+1):
  print(i)
  i += 1

Enter a number: 9
1
2
3
4
5
6
7
8
9

In [41]:
# Factorial of a number

n=int(input("Enter a number: "))
factorial = 1

while n >= 1:
  factorial = factorial * n
  n -= 1

print("Factorial is: ", factorial)

Enter a number: 6
Factorial is:  720

In [38]:
# Fibonacci Series using while loop


n = int(input("Enter a number: "))

a = 0
b = 1
i = 1

while i<= n:
 print(a, end=" ")
 c = a + b
 a = b
 b =c
 i += 1

Enter a number: 17
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987

In [42]:
# Reverse a number

num = int(input("Enter a number: "))
rev = 0

while num > 0:
    digit = num % 10
    rev = rev * 10 + digit
    num = num // 10

print("Reversed number =", rev)

Enter a number: 348672
Reversed number = 276843

In [43]:
# Check Palindrome number/string
st =input("Enter the string:")
rev = st[::-1]
if st==rev:
  print("Palindrome")
else:
  print("Not Palindrome")

Enter the string:1458541
Palindrome

In [45]:
# Count digits in a number

num = int(input("Enter a number: "))
count = 0

while num > 0:
    count += 1
    num //= 10

print("Number of digits =", count)

Enter a number: 3278462393
Number of digits = 10

# The break Statement
## With the break statement we can stop the loop even if the while condition is true

In [16]:
#Exit the loop when i is 3:

i = 1
while i < 6:
  print(i)
  if i == 3:
   break
  i += 1

1
2
3

In [33]:
# Search an element in a list
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
key = int(input("Enter the element to search: "))

for i in range(len(list1)):
    if list1[i] == key:
        print("Element found")
        break
else:
    print("Element not found")

Enter the element to search: 9
Element found

In [17]:
#Print numbers from 1 to 10 (skip 5)

i = 1
while i <= 10:
    if i == 5:
        i += 1
        continue
    print(i)
    i += 1

1
2
3
4
6
7
8
9
10

In [18]:
#Print only odd numbers (1 to 10)

i = 1
while i <= 10:
    if i % 2 != 0:
       print(i)
    i += 1

1
3
5
7
9

# For Loop

In [ ]:
#Print 1-6
for  x in range(1,7):
  print(x, end=' ')

In [ ]:
#Print even numbers from 1 to 10 using range function
for i in range(2,11,2):
  print(i, end=' ')

In [ ]:
#Sum of first n numbers
n = int(input("Enter number: "))
sum = 0
for i in range(1, n+1):
  sum +=i
print (sum)

In [ ]:
#Nested for loop

for i in range(1,4):
    for j in range(1,4):
      print (i,j)

In [ ]:
#3x3 matrix display
A = [[1,2,3],
    [4,5,6],
    [7,8,9]]

for i in range(3):
  for j in range(3):
      print(A[i][j], end=" ")
  print()

In [ ]:
#Multiplication of Two 3x3 matrices (Most Important)
A = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

B = [
    [9, 8, 7],
    [6, 5, 4],
    [3, 2, 1]
]

# Initialize result matrix with zeros
result = [
    [0, 0, 0],
    [0, 0, 0],
    [0, 0, 0]
]

for i in range(3):
  for j in range(3):
    for k in range(3):
        result[i][j] += A[i][k] * B[k][j]

print("Product of matrices:")
for row in result:
    print(row)

In [ ]:
# Python program to accept three digits and print all possible combinations
digits = []
for i in range(3):
  n=int(input("Digits :"))
  digits.append(n)
for i in range(0,3):
 for j in range(0,3):
  for k in range(0,3):
      if (digits[i]!=digits[j] and digits[j]!=digits[k] and digits[k]!=digits[i]):
        print("Combinations :", digits[i],digits[j],digits[k])

Digits :5
Digits :7
Digits :9
Combinations : 5 7 9
Combinations : 5 9 7
Combinations : 7 5 9
Combinations : 7 9 5
Combinations : 9 5 7
Combinations : 9 7 5

In [ ]:
# Armstrong number
n = int(input("Enter a number :"))
total = 0
for digit in str(n):
  total+= int(digit)**len(str(n))
if total == n:
  print("Armstrong")
else :
  print("Not Armstrong")

Enter a number :1634
Armstrong

In [ ]:
# Print All Prime Numbers in Range
for num in range(1, 110):
    for i in range(2, num):
        if num % i == 0:
           break
    else:
       print(num)

1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109

In [ ]:
n=5
for i in range(n): #
  print(i*' ', (n-i)*' *')

  * * * * *
   * * * *
    * * *
     * *
      *

In [ ]:
n=5
for i in range(n): #0,1,2,3,4
  print((n-i)*' ', (i)*' *')

      *
     * *
    * * *
   * * * *

In [ ]:
# Number Triangle
n=5
for i in range(1,n+1):
  for j in range(i):
     print(i,end='')
  print()

1
22
333
4444
55555

In [5]:
# Floyd's Triangle
n = int(input("Enter number of rows: "))

num = 1

for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(num, end=" ")
        num += 1
    print()

Enter number of rows: 4
1
2 3
4 5 6
7 8 9 10