# Experiment No. 4
## Name: Anik Jain
## PRN: 25070123178
## Batch: A-3
## Title: Study of Tuples

In [1]:
# Python Tuples
# Create Tuple and access tuple items
mytuple = ("Toyota", "Volkswagen", "Honda","Ford")
print(mytuple)
print(mytuple[1])

('Toyota', 'Volkswagen', 'Honda', 'Ford')
Volkswagen

In [4]:
mytuple = ("Michael", "James", "John","Robert", "David")
# Tuples are immutable, so direct item assignment is not allowed.
# To "change" an item, you need to create a new tuple.
mytuple = mytuple[0:1] + ("Elizabeth",) + mytuple[2:]
print(mytuple)

('Michael', 'Elizabeth', 'John', 'Robert', 'David')

In [5]:
mytuple = ("Reliance Industries", "HDFC Bank", "Bharti Airtel","State Bank of India")
# Tuples are immutable and do not have an 'append' method.
# To 'add' an item, create a new tuple by concatenation.
mytuple = mytuple + ("Infosys",)
print(mytuple)

('Reliance Industries', 'HDFC Bank', 'Bharti Airtel', 'State Bank of India', 'Infosys')

In [6]:
# Add to a tuple
mytuple = ("McDonald's", "Subway", "KFC","Wendy's")
a = ("Starbucks",)
mytuple += a
print(mytuple)

("McDonald's", 'Subway', 'KFC', "Wendy's", 'Starbucks')

In [ ]:
# Slicing of a tuple
mytuple = ("Zebra", "Lion", "Rhino","Elephant")
print(mytuple[2:5])
print(mytuple[-4:-2])
print(mytuple[-4:])
tuple1=[20,30,50,60,40,10,70]
print(tuple1[1:3])
print(tuple1[1:3:1])
print(tuple1[1:5:2])
print(tuple1[1:4:3])
print(tuple1[6:4:-2])
print(tuple1[4:6:-1])
print(tuple1[-2:-4:-2])

('Rhino', 'Elephant')
('Zebra', 'Lion')
('Zebra', 'Lion', 'Rhino', 'Elephant')
[30, 50]
[30, 50]
[30, 60]
[30]
[70]
[]
[10]

In [ ]:
'''Students exam result stored in a tuple with three fixed field
Subject Name, Marks Obtained, and Grade'''
result = ("EDA",79,"A")
subject, marks, grade = result
print("Subject name :",subject)
print("Marks obtained :",marks)
print("Grade :",grade)
if result[1]>=75:
  print("Distinction")

Subject name : EDA
Marks obtained : 79
Grade : A
Distinction

In [ ]:
'''Organization records a employee's daily attendance for a week using a tuple
P for present and A for absent'''
attendance=("P","P","P","A","A","P")
print("Total number of present days :",attendance.count("P"))
print("Total number of absent days :",attendance.count("A"))
if attendance.count("A")>0:
  print("Absent atleast once")

Total number of present days : 4
Total number of absent days : 2
Absent atleast once