# Experiment No. 9
## Name: Anik Jain
## PRN: 25070123178
## Batch: A-3
## Title: Study of Pandas library

In [ ]:
#Introdcton to Pandas

In [4]:
import pandas as pd
s = pd.Series([1,2,3,4,5])
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
#Create Dataframe
data = {
       "Name":["A","B","C"],
       "Marks":[85,90,78]
}
df = pd.DataFrame(data)
df

  Name  Marks
0    A     85
1    B     90
2    C     78

In [9]:
# Give first five and last five datas
print(df.head())
print(df.tail())

  Name  Marks
0    A     85
1    B     90
2    C     78
  Name  Marks
0    A     85
1    B     90
2    C     78

In [15]:
# Find structure of DataFrame
df.shape

(3, 2)

In [14]:
# Find dimensions of DataFrame
df.ndim

2

In [10]:
# Find size of the DataFrame
df.size

6

In [13]:
# Display Column Names
df.columns

Index(['Name', 'Marks'], dtype='object')

In [ ]:
#Check Data Types of Each Column
df.dtypes

Name     object
Marks     int64
dtype: object

In [11]:
# Access Individual Column
print(df["Name"])
df["Marks"]

0    A
1    B
2    C
Name: Name, dtype: object

0    85
1    90
2    78
Name: Marks, dtype: int64

In [ ]:
#Access Individual Column
df.loc[1]

Name      B
Marks    90
Name: 1, dtype: object

In [6]:
#Add a New Column
'''If marks80-90-First Class

If marks 80-90-First class
If marks>=90-Distinction
If Marks <80-Second Class'''
df["Grade"] = ["First Class","Distinction","Second Class"]
df

  Name  Marks         Grade
0    A     85   First Class
1    B     90   Distinction
2    C     78  Second Class

In [ ]:
#Update Data in DataFrame
#Change marks of student A to 88

df.loc[0,"Marks"] = 85
df

  Name  Marks         Grade
0    A     85   First Class
1    B     90   First Class
2    C     78  Second Class

In [7]:
# Delete a Column
df.drop("Grade",axis = 1, inplace = True)
df

  Name  Marks
0    A     85
1    B     90
2    C     78

In [ ]:
#Perform Basic statistical Analysis
mean1=df["Marks"].mean()
mean1

np.float64(84.33333333333333)

In [8]:
# Mode (Not applicable when you have integer value)
mode1=df["Marks"].mode()
print(mode1)

0    78
1    85
2    90
Name: Marks, dtype: int64

In [ ]:
min1=df["Marks"].min()
min1

78

In [15]:
max1=df["Marks"].max()
max1

90

In [16]:
# Apply condition (Filtering)
# Display students scoring more than 80
df[df["Marks"]>80]

  Name  Marks
0    A     85
1    B     90

In [18]:
import pandas as pd
import numpy as np
df1=pd.DataFrame({'C1':[11,21, np.nan], 'C2':[15, np.nan, np.nan], 'C3':[10,20,30]})
df1

     C1    C2  C3
0  11.0  15.0  10
1  21.0   NaN  20
2   NaN   NaN  30

In [19]:
df1.isna()

      C1     C2     C3
0  False  False  False
1  False   True  False
2   True   True  False

In [20]:
df1.notna()

      C1     C2    C3
0   True   True  True
1   True  False  True
2  False  False  True

In [21]:
df1.isna().sum() #columnwise na values

C1    1
C2    2
C3    0
dtype: int64

In [22]:
df1.dropna () #NaN Rows are dropped

     C1    C2  C3
0  11.0  15.0  10